extends ../layout.pug
block content
    h2 signin
    form(method='post' action='/signin')

        .form-group
            label(for='email') email
            input.form-control(type='email' name='email')
        .form-group
            label(for='password') Password
            input.form-control(type='password' name='password')
        button.btn.btn-primary(type='submit') Login