extends ../layout.pug
block content
    h2 signup
    form(method='post' action='/signup')
        .form-group
            label(for='name') Name
            input.form-control(type='text' name='name')
        .form-group
            label(for='email') email
            input.form-control(type='email' name='email')
        .form-group
            label(for='phone') Phone Number
            input.form-control(type='tel' name='phone')
        .form-group
            label(for='password') Password
            input.form-control(type='password' name='password')
        button.btn.btn-primary(type='submit') Submit