extends ../layout.pug
block content
  form(method='post' action=`/post/edit/${id}`)
    .form-group
      label(for='exampleInputEmail1') Blog Title
      input.form-control(type='text' name='title' value=post.title)
    .form-group
      label(for='exampleInputPassword1') Blog Description
      input.form-control(type='text' name='blogDescription'  value=post.body)
    button.btn.btn-primary(type='submit') Submit
