extends ../layout.pug
block content
  if qs
    .alert.alert-info
      =qs
  table.table
    thead
      tr
        th(scope='col') Post ID
        th(scope='col') Users ID
        th(scope='col') Title
        th(scope='col') Description
        th(scope='col') Update Delete
    tbody
      each post in posts
        tr
          td=post.id
          td=post.userID
          td=post.title
          td=post.body
          td
            a.btn.btn-info(href=`/post/edit/${post.id}` role='button') Edit
            a.btn.btn-info(href=`/post/delete/${post.id}` role='button') Delete
