extends ../layout.pug
block content
  form(method='post' action='/post')
    .form-group
      label(for='exampleInputEmail1') Blog Title
      input.form-control(type='text' name='title')
    .form-group
      label(for='exampleInputPassword1') Blog Description
      input.form-control(type='text' name='blogDescription')
    button.btn.btn-primary(type='submit') Submit
