extends ../layout.pug
block content
  table.table
    thead
      tr
        th(scope='col') Users ID
        th(scope='col') Title
        th(scope='col') Description
    tbody
        tr
          td=post.userID
          td=post.title
          td=post.body
